<link rel="stylesheet" href="/styles/css/alerts.css" />

<script src="globalScript.js"></script>
<div class="centralize centralize-alert">
    <div class="container">
{{#if success_msg}}
    <div class="alert alert-success">
        <figure class="alert-icon">
            <div class="icon"></div>
        </figure>
        <div class="alert-content">
            <h1 class="alert-title">Bem-vindo :)</h1>
            <p class="text">{{success_msg}}
            </p>
        </div>
        <figure class="alert-close" onclick="closeAlert(this)">
            <img src="/assets/imgs/close.svg" />
        </figure>
    </div>
{{/if}}
{{#if error_msg}}
    <div class="alert alert-error">
        <figure class="alert-icon">
            <div class="icon"></div>
        </figure>
        <div class="alert-content">
            <h1 class="alert-title">Houve um erro...</h1>
            <p class="text">{{error_msg}}
            </p>
        </div>
        <figure class="alert-close" onclick="closeAlert(this)">
            <img src="/assets/imgs/close.svg" />
        </figure>
    </div>
{{/if}}

{{#if error}}
<div class="alert alert-error">
        <figure class="alert-icon">
            <div class="icon"></div>
        </figure>
        <div class="alert-content">
            <h1 class="alert-title">Houve um erro...</h1>
            <p class="text">{{error}}
            </p>
        </div>
        <figure class="alert-close" onclick="closeAlert(this)">
            <img src="/assets/imgs/close.svg" />
        </figure>
    </div>
{{else}}
{{/if}}

{{#if warning_msg}}
    <div class="alert alert-warning">
        <figure class="alert-icon">
            <div class="icon"></div>
        </figure>
        <div class="alert-content">
            <h1 class="alert-title">O email já chegou?</h1>
            <p class="text">{{warning_msg}}
            </p>
        </div>
        <figure class="alert-close" onclick="closeAlert(this)">
            <img src="/assets/imgs/close.svg" />
        </figure>
    </div>
{{/if}}  
    </div>
</div>