<link rel="stylesheet" href="/styles/css/home.css" />

<div class="centralize padding-top4">
    <div class="container" id="container">
        <h1 class="title">Bem-vindo de volta <span class="blue">{{dataHeader.nameVolunteer}}</span></h1>
        <div class="feed-header">
            <form class="form full-width">
                <div class="wrapper-options">
                    <div onclick="$('.cause-options').toggle('fast')" class="open-options margin-right1">
                        <span>Causas <img src="/assets/imgs/arrow-down.svg" /></span>
                    </div>
                    <div class="options cause-options">
                        {{#each userCauses}}
                        <input type="checkbox" class="option-checkbox" value="{{descCategory}}" id="{{descCategory}}"
                            name="categories" class="form-checkbox" checked>
                        <label for="{{descCategory}}" class="label-option">
                            <div class="option-marker"></div>{{descCategory}}
                        </label>
                        {{/each}}
                        {{#each causesNotParticipe}}
                        <input type="checkbox" class="option-checkbox" value="{{descCategory}}" id="{{descCategory}}"
                            name="categories" class="form-checkbox">
                        <label for="{{descCategory}}" class="label-option">
                            <div class="option-marker"></div>{{descCategory}}
                        </label>
                        {{/each}}
                    </div>
                </div>
                
                <div class="wrapper-options">
                    <div onclick="$('.skills-options').toggle('fast')" class="open-options callShow margin-right1">
                        <span>Habilidades <img src="/assets/imgs/arrow-down.svg" /></span>
                    </div>
                    <div class="options skills-options ">
                        <input type="checkbox" class="option-checkbox" value="habilidade" id="habilidade"
                            name="categories" class="form-checkbox" checked>
                        <label for="habilidade" class="label-option">
                            <div class="option-marker"></div>Habilidade
                        </label>
                    </div>
                </div>

                <input type="checkbox" id="filter-subscription" value="subscriptions" class="form-checkbox filters"
                    checked>
                <label for="filter-subscription" class="form-btnCheckbox">Inscrições</label>

                <input type="checkbox" id="filter-recommended" value="recommended" class="form-checkbox filters"
                    checked>
                <label for="filter-recommended" class="form-btnCheckbox">Recomendações</label>

                <input type="checkbox" id="filter-recent" value="recents" class="form-checkbox filters">
                <label for="filter-recent" class="form-btnCheckbox">Recentes</label>

                <div class="wrapper-options">
                    <input type="checkbox" id="filter-proximity" value="proximity" class="form-checkbox">
                    <label for="filter-proximity" class="form-btnCheckbox open-options">Proximidade</label>

                    <div id="options-range" class="options-range">
                        <div class="tick-numbers padding-btm1">
                            <span>5 km</span>
                            <span >10 km</span>
                            <span>15 km</span>
                            <span >20 km</span>
                            <span>25 km</span>
                            <span >30 km</span>
                            <span>35 km</span>
                        </div>
                        <input type="range" data-type="proximity" list="tickmarks" min="5" max="35" id="filter-proximity-range" class="form-range display-block filters">
                        <datalist id="tickmarks">
                            <option value="5">
                            <option value="10">
                            <option value="15">
                            <option value="20">
                            <option value="25">
                            <option value="30">
                            <option value="35">
                        </datalist>
                    </div>
                </div>

                <input type="checkbox" id="my-events" value="my-events" class="form-checkbox filters">
                <label for="my-events" class="form-btnCheckbox">Meus eventos</label>

            </form>

        </div>

        {{#if articles}}
        <nav class="nav-articles">

            {{#if articles.recommendedActions}}
            <div class="wrapper-articles" data-typeArticles="recommended">
                <h1 class="title padding-top2 margin-btm1">Eventos recomendados</h1>
                <div class="group-articles" id="group-recommendedActions">
                    {{#each articles.recommendedActions}}
                    <article class="feed-article">
                        <a href="event/{{idAction}}">
                            <figure class="article-image">
                                <img src="/temp/uploads/action/{{photoAction}}" />
                            </figure>
                            <div class="article-content">
                                <h1 class="article-title">{{nameAction}}</h1>
                                <h3 class="article-subitle">{{descriptionAction}}
                                </h3>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="/{{username}}">{{nameNgo}}</a></p>
                                    <p class="article-ngo-date"><a href="event/{{idAction}}">{{createdAt.day}} de
                                            {{createdAt.month}} de
                                            {{createdAt.year}}</a></p>
                                </div>
                            </div>
                        </a>
                    </article>
                    {{/each}}
                </div>
            </div>
            {{/if}}

            {{#if articles.actionsByInscriptions}}
            <div class="wrapper-articles" data-typeArticles="subscriptions">
                <h1 class="title padding-top2 margin-btm1">Eventos de suas incrições</h1>
                <div class="group-articles" id="group-recommendedActions">
                    {{#each articles.actionsByInscriptions}}
                    <article class="feed-article">
                        <a href="event/{{idAction}}">
                            <figure class="article-image">
                                <img src="/temp/uploads/action/{{photoAction}}" />
                            </figure>
                            <div class="article-content">
                                <h1 class="article-title">{{nameAction}}</h1>
                                <h3 class="article-subitle">{{descriptionAction}}
                                </h3>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="/{{username}}">{{nameNgo}}</a></p>
                                    <p class="article-ngo-date"><a href="event/{{idAction}}">{{createdAt.day}} de
                                            {{createdAt.month}} de
                                            {{createdAt.year}}</a></p>
                                </div>
                            </div>
                        </a>
                    </article>
                    {{/each}}
                </div>
            </div>
            {{/if}}

            {{#if articles.recommendedNgos}}
            <div class="wrapper-articles" data-typeArticles="recommended">
                <h1 class="title padding-top2 margin-btm1">Ongs recomendadas</h1>
                <div class="group-ngos" id="group-recommendedNgos">
                    {{#each articles.recommendedNgos}}
                    <article class="feed-ngo">
                        <a href="{{userName}}">
                            <figure class="ngo-pic">
                                <img src="/temp/uploads/profile/{{photoNgo}}" />
                            </figure>
                            <h1 class="ngo-name">{{nameNgo}}</h1>
                        </a>
                    </article>
                    {{/each}}
                </div>
            </div>
            {{/if}}

            {{#if articles.ngosByInscriptions}}
            <div class="wrapper-articles" data-typeArticles="subscriptions">
                <h1 class="title padding-top2 margin-btm1">ONGs que você é inscrito</h1>
                <div class="group-ngos">
                    {{#each articles.ngosByInscriptions}}
                    <article class="feed-ngo">
                        <a href="{{userName}}">
                            <figure class="ngo-pic">
                                <img src="/temp/uploads/profile/{{photoNgo}}" />
                            </figure>
                            <h1 class="ngo-name">{{nameNgo}}</h1>
                        </a>
                    </article>
                    {{/each}}
                </div>
            </div>
            {{/if}}

        </nav>
        {{else}}
        {{!-- ERR Msg --}}
        <div class="container flex-column align-center margin-top4">
            <img style="height: 40vh;" src="/assets/imgs/empty4.svg" />
            <h1 class="big-text text-center margin0 margin-top4">Não esperávamos por essa...</h1>
            <p class="text text-center margin0 margin-top1">Não conseguimos encontrar nenhum evento ou ONG de acordo
                com
                seus interesses.<br>Mas você ainda pode pesquisar por eventos e ONGs ou selecionar filtros
                diferentes.
            </p>
        </div>
        {{/if}}

    </div>
</div>

<script src="/scripts/homeScript.js"></script>