<link rel="stylesheet" href="/styles/css/homeUser.css" />
<link rel="stylesheet" href="/styles/css/profile.css" />

<div class=" centralize padding-top4">
    <div class="container">
        <div class="profile-data">
            <figure class="profile-pic availableVolunteer">
                <img src="/temp/uploads/profile/{{data.photoVolunteer}}" />
            </figure>
            <div class="profile-name">
                <h1 class="username">{{data.nameVolunteer}} {{data.lastNameVolunteer}}</h1>
                <ul class="cases margin0">
                    {{#each causes}}
                    <li class="case"><a href="#">{{descCategory}}</a></li>
                    {{/each}}
                </ul>
            </div>
            {{#if isGuess}}
            {{else}}
            <a href="/settings">
                <figure class="linkSettings">
                    <img src="/assets/imgs/settings.svg" />
                </figure>
            </a>
            {{/if}}
            <div class="profile-location-since">
                <h3 class="content">{{data.cityVolunteer}}. Desde {{data.createdAt.month}} de {{data.createdAt.year}}</h3>
                {{!-- <h3 class="content">{{data.cityVolunteer}}</h3> --}}
            </div>
            <div class="profile-about">
                <p class="content">{{data.biographyVolunteer}}</p>
            </div>
        </div>
        <div class="profile-stats">
            <ul>
                {{!-- <li><span class="number">{{data.averageStarsVolunteer}}4.5/5</span>média de estrelas</li> --}}
                <li><span class="number">12</span> ações em eventos</li>
                <li><span class="number">4</span> ONGs é inscrito</li>
            </ul>
        </div>
        <nav class="nav-articles">
            <h1 class="title padding-top2 margin-btm1">Eventos participados</h1>
            <div class="group-articles">
                <article class="feed-article">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
                <article class="feed-article event-closed">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
                <article class="feed-article event-closed">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
                <article class="feed-article event-closed">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
            </div>
        </nav>
        <nav class="nav-articles">
            <h1 class="title padding-top2 margin-btm2">ONGs que é inscrito</h1>
            <div class="group-ngos">
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
            </div>
        </nav>
    </div>
</div>