<link rel="stylesheet" href="/styles/css/home.css" />
<link rel="stylesheet" href="/styles/css/profile.css" />

<div class=" centralize padding-top4">
    <div class="container">
        <div class="profile-data">
            <figure class="profile-pic availableVolunteer">
                <img src="/temp/uploads/profile/{{data.photoVolunteer}}" />
            </figure>
            <div class="profile-name">
                <h1 class="username">{{data.nameVolunteer}} {{data.lastNameVolunteer}}</h1>
                <ul class="cases margin0">
                    {{#each causes}}
                    <li class="case"><a href="#">{{descCategory}}</a></li>
                    {{/each}}
                </ul>
            </div>
            {{#if isVisit}}
            {{else}}
            <a href="/settings">
                <figure class="linkSettings">
                    <img src="/assets/imgs/settings.svg" />
                </figure>
            </a>
            {{/if}}
            <div class="profile-location-since">
                <h3 class="content">{{data.cityVolunteer}}. Desde {{data.createdAt.month}} de {{data.createdAt.year}}</h3>
                {{!-- <h3 class="content">{{data.cityVolunteer}}</h3> --}}
            </div>
            <div class="profile-about">
                <p class="content">{{data.biographyVolunteer}}</p>
            </div>
        </div>
        <div class="profile-stats">
            <ul>
                {{!-- <li><span class="number">{{data.averageStarsVolunteer}}4.5/5</span>média de estrelas</li> --}}
                <li><span class="number">0</span> ações em eventos</li>
                <li><span class="number">{{amtSubscribedNgos}}</span> ONGs é inscrito</li>
            </ul>
        </div>
        <nav class="nav-articles">
            <h1 class="title padding-top2 margin-btm1">Eventos participados</h1>
            <h2>Este usuário ainda não participou de nenhum evento...</h2>
        </nav>
    </div>
</div>