<link rel="stylesheet" href="/styles/css/settingsStyle.css" />

<div class="centralize padding-top2">
    <div class="container">
        <h1 class="title big-text">Configurações</h1>
        <div class="container settings-container">
            <ul class="settings-menu">
                <li class="settings-link active" onclick="changeSettingsForm(0, this)"><img
                        src="/assets/imgs/userBlue.svg" />Perfil</li>
                <li class="settings-link" onclick="changeSettingsForm(1, this)"><img
                        src="/assets/imgs/key.svg" />Conta</li>
                <li class="settings-link" onclick="changeSettingsForm(2, this)"><img 
                        src="/assets/imgs/ngo.svg" />Suas causas</li>
            </ul>

            <form name="settings-profile" class="settings-form" method="POST" action="/settings/edit-profile">
                <h1 class="label medium-text">Foto de perfil</h1>
                <div class="block fields">
                    <figure class="block figure-profile-pic">
                        <label for="profile-pic" class="label-profile-pic">
                            <p>Mudar foto de perfil</p>
                        </label>
                        <input id="profile-pic" type="file" />
                    </figure>
                </div>
                <h1 class="label medium-text">Dados do perfil</h1>
                <div class="block fields">
                    <div class="settings-field">
                        <label class="form-label">Primeiro nome</label>
                        <input class="form-input" value="{{data.nameVolunteer}}" name="name">
                    </div>
                    <div class="settings-field">
                        <label class="form-label">Último nome</label>
                        <input class="form-input" value="{{data.lastNameVolunteer}}" name="lastName">
                    </div>
                    <div class="settings-field">
                        <label class="form-label">Data de nascimento</label>
                        <input type="date" class="form-input" name="dateBirth" value="{{data.dateBirthVolunteer}}">
                    </div>
                </div>
                <div class="block margin-top2">
                    <div class="settings-field">
                        <label class="form-label">Biografia</label>
                        <textarea class="form-input form-textarea" name="biography">{{data.biographyVolunteer}}</textarea>
                    </div>
                </div>
                <h1 class="label medium-text">Localização</h1>
                <div class="block fields">
                    <div class="settings-field">
                        <label class="form-label">CEP</label>
                        <input class="form-input" type="text" name="cep" value="{{data.cepVolunteer}}">
                    </div>
                    <div class="settings-field">
                        <label class="form-label">Cidade</label>
                        <input class="form-input" type="text" name="city" value="{{data.cityVolunteer}}">
                    </div>
                    <div class="settings-field padding-top2">
                        <label class="form-label">Bairro</label>
                        <input class="form-input" type="text" name="district" value="{{data.districtVolunteer}}">
                    </Div>
                    <div class="settings-field padding-top2">
                        <label class="form-label">Endereço</label>
                        <input class="form-input" type="text" name="address" value="{{data.addressVolunteer}}">
                    </div>

                </div>
                <button type="submit">Salvar</button>
            </form>

            <div name="settings-personalData" class="settings-form form">
                <h1 class="label medium-text">Redefinir senha</h1>
                <div class="fields block margin-top2">
                    <form action="/settings/change-password" method="POST" class="block">
                        <div class="settings-field">
                            <label class="form-label">Nova senha</label>
                            <input class="form-input" name="newPassword" type="password">
                        </div>
                        <div class="settings-field">
                            <label class="form-label">Confirmar senha</label>
                            <input class="form-input" name="confirmPassword" type="password">
                        </div>
                        <div class="settings-field">
                            <button type="submit" class="btn-danger">Salvar</button>
                        </div>
                    </form>
                </div>
                <h1 class="label medium-text">Desativar conta</h1>
                <div class="fields block width-auto margin-top2">
                    <div class="settings-field">
                        <form action="/settings/deactivate-account" method="post">
                            <button class="btn-danger margin-top1" type="submit">Desativar conta</button>
                        </form>
                    </div>
                </div>
            </div>

            <div name="settings-ngoData" class="settings-form form">
                <h1 class="label medium-text">Causas</h1>  
                <div class="fields block margin-btm2">
                    <form action="/settings/edit-causes" method="post">
                        <div class="form-groupSelect">
                            {{#each causes}}
                                <input type="checkbox" value="{{descCategory}}" id="{{descCategory}}" name="categories" class="form-checkbox" checked>
                                <label for="{{descCategory}}" class="form-btnCheckbox">{{descCategory}}</label>
                            {{/each}}

                            {{#each noParticipe}}
                                <input type="checkbox" value="{{descCategory}}" id="{{descCategory}}" name="categories" class="form-checkbox">
                                <label for="{{descCategory}}" class="form-btnCheckbox">{{descCategory}}</label>
                            {{/each}}
                        </div>
                        <button type="submit">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>