<link rel="stylesheet" href="/styles/css/settingsStyle.css" />

<style>
    .label-profile-pic{
        background: url("/temp/uploads/profile/{{data.photoVolunteer}}");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="centralize padding-top2">
    <div class="container">
        <h1 class="title big-text">Configurações</h1>
        <div class="container form settings-container">
            <ul class="settings-menu">
                <li class="settings-link active" onclick="changeSettingsForm(0, this)"><img
                        src="/assets/imgs/userBlue.svg" />Perfil</li>
                <li class="settings-link" onclick="changeSettingsForm(1, this)"><img src="/assets/imgs/key.svg" />Conta
                </li>
            </ul>

            <form name="settings-profile" class="settings-form" method="POST" action="/settings/edit-profile" enctype="multipart/form-data">
                <div class="block fields">
                    <figure class="block figure-profile-pic">
                        <label for="profile-pic" class="label-profile-pic">
                            <p>Mudar foto de perfil</p>
                        </label>
                        <input id="profile-pic" type="file" name="photo" />
                    </figure>
                </div>
                <h1 class="label medium-text">Dados do perfil</h1>
                <div class="block fields">
                    <div class="settings-field">
                        <label class="form-label">Primeiro nome</label>
                        <input class="form-input" value="{{data.nameVolunteer}}" name="name">
                    </div>
                    <div class="settings-field">
                        <label class="form-label">Último nome</label>
                        <input class="form-input" value="{{data.lastNameVolunteer}}" name="lastName">
                    </div>
                    <div class="settings-field">
                        <label class="form-label">Data de nascimento</label>
                        <input type="date" class="form-input" name="dateBirth" value="{{data.dateBirthVolunteer}}">
                    </div>
                </div>
                <div class="block margin-top2">
                    <div class="settings-field">
                        <label class="form-label">Biografia</label>
                        <textarea class="form-input form-textarea"
                            name="biography">{{data.biographyVolunteer}}</textarea>
                    </div>
                </div>
                <h1 class="label medium-text">Localização</h1>
                <div class="block fields">
                    <div class="settings-field">
                        <label class="form-label">CEP</label>
                        <input class="form-input" type="text" name="cep" value="{{data.cepVolunteer}}">
                    </div>
                    <div class="settings-field">
                        <label class="form-label">Cidade</label>
                        <input class="form-input" type="text" name="city" value="{{data.cityVolunteer}}">
                    </div>
                    <div class="settings-field">
                        <label class="form-label">Bairro</label>
                        <input class="form-input" type="text" name="district" value="{{data.districtVolunteer}}">
                    </Div>
                    <div class="settings-field">
                        <label class="form-label">Endereço</label>
                        <input class="form-input" type="text" name="address" value="{{data.addressVolunteer}}">
                    </div>

                </div>
                <div class="justifyContent-start padding-top4">
                    <button class="btn-primary margin0">Salvar edições</button>
                </div>
            </form>

            <div name="settings-personalData" class="settings-form form">
                <h1 class="label medium-text margin0">Editar causas</h1>
                <div class="fields block margin-btm4">
                    <form action="/settings/edit-causes" method="post">
                        <div class="form-groupSelect">
                            {{#each causes}}
                            <input type="checkbox" value="{{descCategory}}" id="{{descCategory}}" name="categories"
                                class="form-checkbox" checked>
                            <label for="{{descCategory}}" class="form-btnCheckbox">{{descCategory}}</label>
                            {{/each}}

                            {{#each noParticipe}}
                            <input type="checkbox" value="{{descCategory}}" id="{{descCategory}}" name="categories"
                                class="form-checkbox">
                            <label for="{{descCategory}}" class="form-btnCheckbox">{{descCategory}}</label>
                            {{/each}}
                        </div>
                        <button class="btn-primary">Salvar edições</button>
                    </form>
                </div>
                <h1 class="label medium-text margin0">Redefinir senha</h1>
                <div class="fields block margin-top2 margin-btm4">
                    <form action="/settings/change-password" method="POST" id="change-password-form" class="block">
                        <div class="display-flex align-center">
                            <div class="settings-field">
                                <label class="form-label">Nova senha</label>
                                <input class="form-input" name="newPassword" type="password">
                            </div>
                            <div class="settings-field">
                                <label class="form-label">Confirmar senha</label>
                                <input class="form-input" name="confirmPassword" type="password">
                            </div>
                        </div>
                        <div onclick="$('.change-password').slideDown('slow')" class="btn-danger">Mudar senha</div>
                    </form>
                </div>
                <h1 class="label medium-text margin0">Desativar conta</h1>
                <div class="fields block padding0 margin0">
                    <form action="/settings/deactivate-account" id="disable-account-form" method="post">
                        <div onclick="$('.disable-account').slideDown('slow')" class="btn-danger margin-top2">Desativar
                            conta</div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="overlay change-password">
    <div class="modal">
        <h1 class="title text-left">Você tem certeza?</h1>
        <p class="text margin-top2">Esta é uma ação que não pode ser desfeita.</p>
        <div class="modal-options margin-top2">
            <div onclick="$('.change-password').slideUp('fast')" class="btn-secondary">Cancelar
            </div>
            <button onclick="$('#change-password-form').submit()" class="btn-primary">Prosseguir</button>
        </div>
    </div>
</div>

<div class="overlay disable-account">
    <div class="modal">
        <h1 class="title text-left">Você tem certeza?</h1>
        <p class="text margin-top2">Esta é uma ação que não pode ser desfeita.</p>
        <div class="modal-options margin-top2">
            <div onclick="$('.disable-account').slideUp('fast')" class="btn-secondary">Cancelar
            </div>
            <div onclick="$('#disable-account-form').submit()" class="btn-primary">Prosseguir</div>
        </div>
    </div>
</div>

<script>
    $( '.change-password' ).hide()
    $( '.disable-account' ).hide()
</script>
<script src="/scripts/settingsScript.js"></script>