<link rel="stylesheet" href="/styles/css/eventRating.css" />

{{#each volunteers}}
    <div class="display-none data-volunteer" data-namevolunteer="{{nameVolunteer}}" data-lastnamevolunteer="{{lastNameVolunteer}}" data-cityvolunteer="{{cityVolunteer}}" data-vacancy="{{nameVacancy}}" data-averagestars="{{averageStarVolunteer}}" data-photo="{{photoVolunteer}}">
    </div>
{{/each}}

<div class="centralize">
    <div class="container padding-top4">
        <div class="full-width justifyContent-between">
            <form class="full-width padding-right4">
                <h1 class="title big-text margin0">Avaliação de voluntário</h1>

                <h1 class="title-table" id="title-table-notRated">Voluntários não avaliados ({{qtdVolunteers}})</h1>
                <div class="table-container" id="table-notRated">
                    <div class="table-header">
                        <div class="row">
                            <div class="flex-row">Nome</div>
                            <div class="flex-row">Vaga</div>
                            <div class="flex-row">Média de estrelas</div>
                            <div class="flex-row"></div>
                        </div>
                    </div>
                    <div class="table-body" id="table-body-notRated">
                    {{#each volunteers}}
                        <div class="row">
                            <div class="flex-row">
                                <figure class="table-pic">
                                    <img src="/temp/uploads/profile/{{photoVolunteer}}"/>
                                </figure>
                                <article class="margin-left1">
                                    <h1 class="small-text medium-weight-text margin0 padding0">{{nameVolunteer}} {{lastNameVolunteer}}</h1>
                                    <p class="gray smallest-text margin0 padding0">{{cityVolunteer}}</p>
                                </article>
                            </div>
                            <div class="flex-row">
                                <p class="text">{{nameVacancy}}</p>
                            </div>
                            <div class="flex-row">
                                <p class="text">{{averageStarVolunteer}}/5 <img src="/assets/imgs/star.svg" class="inline-icon"/> </p>
                            </div>
                            <div class="flex-row justifyContent-end">
                                <input type="hidden" name="rate-volunteer" id="input-rate-{{idVolunteer}}" data-id="{{idVolunteer}}"/>
                                <div data-idvolunteer="{{idVolunteer}}" class="btn-rounded do-rate">Avaliar</div>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>

                <h1 class="title-table" id="title-table-rated">Voluntários avaliados (0)</h1>
                <div class="table-container" id="table-rated">
                    <div class="table-header">
                        <div class="row">
                            <div class="flex-row">Nome</div>
                            <div class="flex-row">Vaga</div>
                            <div class="flex-row">Avaliação</div>
                            <div class="flex-row"></div>
                        </div>
                    </div>
                    <div class="table-body" id="table-body-rated">
                    </div>
                </div>

                <button class="btn-primary margin0 margin-top4">Finalizar avaliações</button>
            </form>
            <figure class="action-miniature">
                <a href="/event/{{action.idAction}}">
                    <img src="/assets/imgs/animal-cat-cute-46024.jpg" />
                    <p>{{action.nameAction}}</p>
                </a>
            </figure>
        </div>
    </div>
</div>

{{#each volunteers}}
    <div class="rate-popup" id="rate-popup-{{idVolunteer}}">
        <figure class="rate-pic">
            <img src="/temp/uploads/profile/{{photoVolunteer}}"/>
            <article class="rate-content">
                <p class="rate-name">{{nameVolunteer}} <span class="rate-averagestars">{{averageStarVolunteer}}/5 <img src="/assets/imgs/star.svg"></span></p>
                <p class="rate-job">{{nameVacancy}}</p>
            </article>
        </figure>
        <div class="rate-stars margin-top2">
            <label class="star star-{{idVolunteer}}"></label>
            <label class="star star-{{idVolunteer}}"></label>
            <label class="star star-{{idVolunteer}}"></label>
            <label class="star star-{{idVolunteer}}"></label>
            <label class="star star-{{idVolunteer}}"></label>
        </div>
        <div class="margin-top4 full-width justifyContent-end">
            <div onclick="hideRatePopUp({{idVolunteer}})" class="btn-secondary margin-right2">Cancelar</div>
            <div onclick="saveRate({{idVolunteer}})" class="btn-primary">Salvar</div>
        </div>
    </div>
{{/each}}

<script src="/scripts/eventRatingScript.js"></script>