<link rel="stylesheet" href="/styles/css/eventmanagement.css" />
<style>
    .change-action-pic {
        background: url("/temp/uploads/action/{{action.photoAction}}") center center / cover;
    }
</style>

<div data-idAction="{{action.idAction}}" id="keeper-idAction" class="centralize padding-top4">

    <div class="container padding-btm1 border-bottom">
        <a href="#"
            onclick="removeClass('links', 'blue'); $(this).addClass('blue'); $('#management-content').hide(); $('#jobs-content').show()"
            class="links medium-text gray blue transition-025 margin-right2">Vagas</a>
        <a href="#"
            onclick="removeClass('links','blue'); $(this).addClass('blue'); $('#jobs-content').hide(); $('#management-content').show()"
            class="links medium-text gray transition-025 margin-right2">Gerenciamento</a>
    </div>

    <div id="jobs-content" class="box container display-flex margin-top2 padding0">
        <ul class="side-menu">
            <li onclick="removeClass('sidelinks','active'); $(this).addClass('active'); $('.job-inscriptions').hide(); $('#all-jobs').show()"
                class="sidelinks active">Todas as vagas</li>
            {{#each vacancies}}
            <li onclick="removeClass('sidelinks','active'); $(this).addClass('active'); $('.job-inscriptions').hide(); $('#jobs-{{idVacancy}}').show()"
                class="sidelinks">{{nameVacancyAction}}</li>
            {{/each}}
        </ul>
        <div class="job-inscriptions" id="all-jobs">
            <div class="job-header margin-top2">
                <div class="job-description">
                    <h1 class="big-text margin0">Todas as vagas</h1>
                </div>
                <div class="job-useful">
                    <ul class="job-data">
                        <li>
                            <p>Voluntários inscritos</p>
                            <h3>{{vacancies.data.qtdInscriptions}}</h3>
                        </li>
                        <li>
                            <p>Vagas restantes</p>
                            <h3>30</h3>
                        </li>
                        <li>
                            <p>Solicitações</p>
                            <h3>{{vacancies.data.qtdRequests}}</h3>
                        </li>
                    </ul>
                    <button class="btn-callaction">Relatório das vagas</button>
                </div>
            </div>
            <h1 onclick="showTable('#table-requests','btn-table-requests')" class="title-table" id="title-table-requests">Solicitações ({{vacanciesRequests.length}})
                <img id="btn-table-requests" src="/assets/imgs/plus.svg" />
            </h1>
            {{#if vacanciesRequests}}
            <div class="table-container" id="table-requests">
                <div class="table-header" id="table-header-requests">
                    <div class="row">
                        <div class="flex-row">Nome completo</div>
                        <div class="flex-row">Vaga</div>
                        <div class="flex-row">Avaliação</div>
                        <div class="flex-row"></div>
                    </div>
                </div>
                <div class="table-body" id="table-body-requests">
                    {{#each vacanciesRequests}}
                    <div class="row row-subscribe">
                        <div class="full-width display-flex">
                            <div class="flex-row">
                                <figure class="table-pic">
                                    <img src="/temp/uploads/profile/{{photoVolunteer}}" />
                                </figure>
                                <article class="margin-left1">
                                    <h1 class="small-text medium-weight-text margin0 padding0">{{nameVolunteer}}
                                        {{lastNameVolunteer}}</h1>
                                    <p class="gray smallest-text margin0 padding0">{{cityVolunteer}}</p>
                                </article>
                            </div>
                            <div class="flex-row">
                                <p class="text">{{nameVacancy}}</p>
                            </div>
                            <div class="flex-row">{{averageStarVolunteer}}</div>
                            <div class="flex-row justifyContent-end">
                                <button data-type="refuse" data-id="{{idActionVolunteer}}" class="btn-danger-outlined margin-right2 btn-request">Recusar</button>
                                <button data-type="accept" data-id="{{idActionVolunteer}}" class="btn-primary btn-request">Aceitar inscrição</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            <h1 onclick="showTable('#table-accepted','btn-table-accepted')" class="title-table" id="title-table-accepted">Inscrições aceitas ({{vacanciesAccepted.length}})
                <img id="btn-table-accepted" src="/assets/imgs/plus.svg" />
            </h1>
            {{#if vacanciesAccepted}}
            <div class="table-container" id="table-accepted">
                <div class="table-header">
                    <div class="row">
                        <div class="flex-row">Nome completo</div>
                        <div class="flex-row">Vaga</div>
                        <div class="flex-row">Avaliação</div>
                        <div class="flex-row"></div>
                    </div>
                </div>
                <div class="table-body-options" id="table-body-accepted">
                    {{#each vacanciesAccepted}}
                    <div class="row row-action">
                        <div class="full-width display-flex">
                            <div class="flex-row">
                                <figure class="table-pic">
                                    <img src="/temp/uploads/profile/{{photoVolunteer}}" />
                                </figure>
                                <article class="margin-left1">
                                    <h1 class="small-text medium-weight-text margin0 padding0">{{nameVolunteer}}
                                        {{lastNameVolunteer}}</h1>
                                    <p class="gray smallest-text margin0 padding0">{{cityVolunteer}}</p>
                                </article>
                            </div>
                            <div class="flex-row">
                                <p class="text">{{nameVacancy}}</p>
                            </div>
                            <div class="flex-row">{{averageStarVolunteer}}</div>
                            <div class="flex-row justifyContent-end">
                                <figure onclick="hideOptions('.member-options-{{idActionVolunteer}}')"
                                    class="member-options-icon">
                                    <img src="/assets/imgs/threedots.svg">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="member-options member-options-{{idActionVolunteer}}">
                        <ul class="items">
                            <li data-type="refuse" data-id="{{idActionVolunteer}}" class="item red btn-request">Cancelar inscrição</li>
                        </ul>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            <h1 onclick="showTable('#table-rejected', 'btn-table-rejected')" class="title-table" id="title-table-rejected">Inscrições não aceitas ({{vacanciesRejected.length}})
                <img id="btn-table-rejected" src="/assets/imgs/plus.svg" />
            </h1>
            {{#if vacanciesRejected}}
            <div class="table-container" id="table-rejected">
                <div class="table-header">
                    <div class="row">
                        <div class="flex-row">Nome completo</div>
                        <div class="flex-row">Vaga</div>
                        <div class="flex-row">Avaliação</div>
                        <div class="flex-row"></div>
                    </div>
                </div>
                <div class="table-body" id="table-body-rejected">
                    {{#each vacanciesRejected}}
                    <div class="row row-action" data-id="{{idActionVolunteer}}">
                        <div class="full-width display-flex">
                            <div class="flex-row">
                                <figure class="table-pic">
                                    <img src="/temp/uploads/profile/{{photoVolunteer}}" />
                                </figure>
                                <article class="margin-left1">
                                    <h1 class="small-text medium-weight-text margin0 padding0">{{nameVolunteer}}
                                        {{lastNameVolunteer}}</h1>
                                    <p class="gray smallest-text margin0 padding0">{{cityVolunteer}}</p>
                                </article>
                            </div>
                            <div class="flex-row">
                                <p class="text">{{nameVacancy}}</p>
                            </div>
                            <div class="flex-row">{{averageStarVolunteer}}</div>
                            <div class="flex-row justifyContent-end">
                                <figure onclick="hideOptions('.member-options-{{idActionVolunteer}}')"
                                    class="member-options-icon">
                                    <img src="/assets/imgs/threedots.svg">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="member-options member-options-{{idActionVolunteer}}">
                        <ul class="items">
                            <li data-type="accept" data-id="{{idActionVolunteer}}" class="item btn-request">Aceitar inscrição</li>
                        </ul>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
        {{#each vacancies}}
        <div class="job-inscriptions display-none" id="jobs-{{idVacancy}}">
            <div class="job-header margin-top2">
                <div class="job-description">
                    <h1 class="big-text margin0">{{nameVacancyAction}}</h1>
                    <p class="text">{{descVacancyAction}}</p>
                </div>
                <div class="job-useful">
                    <ul class="job-data">
                        <li>
                            <p>Voluntários inscritos</p>
                            <h3>18</h3>
                        </li>
                        <li>
                            <p>Vagas restantes</p>
                            <h3>10</h3>
                        </li>
                        <li>
                            <p>Solicitações</p>
                            <h3>120</h3>
                        </li>
                    </ul>
                    <button class="btn-callaction">Relatório da vaga</button>
                </div>
            </div>
            <h1 class="medium-text margin0 margin-top4 margin-btm1">Solicitações</h1>
            <div class="table-container">
                <div class="table-header">
                    <div class="row">
                        <div class="flex-row">Nome completo</div>
                        <div class="flex-row">Vaga</div>
                        <div class="flex-row">Avaliação</div>
                        <div class="flex-row"></div>
                    </div>
                </div>
                <div class="table-body">
                    <div class="row row-subscribe">
                        <div class="full-width display-flex">
                            <div class="flex-row">
                                <figure class="table-pic">
                                    <img src="/assets/imgs/man2.jpg" />
                                </figure>
                                <article class="margin-left1">
                                    <h1 class="small-text medium-weight-text margin0 padding0">João Victor da S. Pereira
                                    </h1>
                                    <p class="gray smallest-text margin0 padding0">São Paulo</p>
                                    <p class="gray smallest-text margin0 padding0">Solicitado em 24/12/2019</p>
                                </article>
                            </div>
                            <div class="flex-row">
                                <p class="text">Assistente geral</p>
                            </div>
                            <div class="flex-row">12</div>
                            <div class="flex-row justifyContent-end">
                                <button class="btn-danger-outlined margin-right2 refuse">Recusar</button>
                                <button class="btn-primary accepted">Aceitar inscrição</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="medium-text margin0 margin-top2 margin-btm1">Voluntários inscritos</h1>
            <div class="table-container">
                <div class="table-header">
                    <div class="row">
                        <div class="flex-row">Nome completo</div>
                        <div class="flex-row">Vaga</div>
                        <div class="flex-row">Avaliação</div>
                        <div class="flex-row">Status</div>
                    </div>
                </div>
                <div class="table-body">
                    <div class="row row-subscribe">
                        <div class="full-width display-flex">
                            <div class="flex-row">
                                <figure class="table-pic">
                                    <img src="/assets/imgs/man2.jpg" />
                                </figure>
                                <article class="margin-left1">
                                    <h1 class="small-text medium-weight-text margin0 padding0">João Victor da S. Pereira
                                    </h1>
                                    <p class="gray smallest-text margin0 padding0">São Paulo</p>
                                </article>
                            </div>
                            <div class="flex-row">
                                <p class="text">Assistente geral</p>
                            </div>
                            <div class="flex-row">12</div>
                            <div class="flex-row">
                                <span class="green-rounded">Aceito</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="medium-text margin0 margin-top2 margin-btm1">Inscrições não aceitas</h1>
            <div class="table-container">
                <div class="table-header">
                    <div class="row">
                        <div class="flex-row">Nome completo</div>
                        <div class="flex-row">Vaga</div>
                        <div class="flex-row">Avaliação</div>
                        <div class="flex-row">Status</div>
                    </div>
                </div>
                <div class="table-body">
                    <div class="row row-subscribe">
                        <div class="full-width display-flex">
                            <div class="flex-row">
                                <figure class="table-pic">
                                    <img src="/assets/imgs/man2.jpg" />
                                </figure>
                                <article class="margin-left1">
                                    <h1 class="small-text medium-weight-text margin0 padding0">João Victor da S. Pereira
                                    </h1>
                                    <p class="gray smallest-text margin0 padding0">São Paulo</p>
                                </article>
                            </div>
                            <div class="flex-row">
                                <p class="text">Assistente geral</p>
                            </div>
                            <div class="flex-row">12</div>
                            <div class="flex-row">
                                <span class="red-rounded">Não aceito</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="management-content" class="box container margin-top2 display-none">
        <form class="form full-width" action="/event/{{action.idAction}}/edit" method="POST"
            enctype="multipart/form-data">
            <div class="full-width justifyContent-center">
                <figure class="change-action-pic" id="preview">
                    <label for="change-action-pic" class="btn-change-action-pic">
                        <p>Mudar foto do evento</p>
                    </label>
                    <input id="change-action-pic" value="{{action.photoAction}}" type="file" name="thumbnail" />
                </figure>
            </div>
            <h1 class="medium-text margin-top4 margin-btm2">Informações do evento</h1>
            <label class="form-label">Título</label>
            <input class="form-input" name="name" value="{{action.nameAction}}" />
            <label class="form-label">Artigo</label>
            <textarea name="article" class="form-input form-textarea" id="textarea-content"
                onkeyup="autosize($('#textarea-content'));">{{action.descriptionAction}}</textarea>
            <div class="display-flex">
                {{#if action.isPunctual}}
                <div class="margin-right4">
                    <label class="form-label">Data e horário de início</label>
                    <div class="collumns-2 gap-2">
                        <input type="date" name="startDate"
                            value="{{dateStartAction.year}}-{{dateStartAction.month}}-{{dateStartAction.day}}"
                            class="form-input margin-right2" />
                        <input type="time" name="startTime" value="{{dateStartAction.hours}}" class="form-input">
                    </div>
                </div>
                <div class="margin-right4">
                    <label class="form-label">Horário de Término</label>
                    <div class="collumns-2 gap-2">
                        <input type="time" name="endTime" value="{{dateEndAction.hours}}" class="form-input">
                    </div>
                </div>
                {{else}}
                <div class="margin-right4">
                    <label class="form-label">Data de início</label>
                    <div class="collumns-2 gap-2">
                        <input type="date" name="startDate"
                            value="{{dateStartAction.year}}-{{dateStartAction.month}}-{{dateStartAction.day}}"
                            class="form-input margin-right2" />
                        <input type="time" name="startTime" value="{{dateStartAction.hours}}" class="form-input">
                    </div>
                </div>
                <div>
                    <label class="form-label">Data de término</label>
                    <div class="collumns-2 gap-2">
                        <input type="date" name="endDate"
                            value="{{dateEndAction.year}}-{{dateEndAction.month}}-{{dateEndAction.day}}"
                            class="form-input margin-right2">
                        <input type="time" name="endTime" value="{{dateEndAction.hours}}" class="form-input">
                    </div>
                </div>
                {{/if}}
            </div>

            <h1 class="medium-text margin-top4 margin-btm2">Endereço</h1>
            <div class="display-flex margin-top2">
                <div class="margin-right4">
                    <label class="form-label">CEP</label>
                    <input id="cep" value="{{action.cepAction}}" class="form-input-long-number margin-right2" />
                </div>
                <div class="">
                    <label class="form-label">Número</label>
                    <input id="number" value="{{action.numAddressAction}}" class="form-input-number" />
                </div>
            </div>
            <input type="hidden" name="address" value="{{action.addressAction}}">
            <input type="hidden" name="district" value="{{action.districtAction}}">
            <input type="hidden" name="city" value="{{action.cityAction}}">
            <p id="address-preview" class="text medium-weight-text blue-rounded display-inline margin0">
                {{action.addressAction}}, {{action.numAddressAction}} - {{action.districtAction}},
                {{action.cityAction}}.
            </p>

            {{#if vacancies}}
            <h1 class="medium-text margin-top4 margin-btm2">Vagas</h1>
            {{#each vacancies}}
            <h1 onclick="$('#job-{{idVacancyAction}}').slideToggle('fast'); rotate90('btn-job-{{idVacancyAction}}')"
                class="margin0 margin-top2 btn-outlined justifyContent-between">{{nameVacancyAction}} <img
                    id="btn-job-{{idVacancyAction}}" class="inline-icon transition-050" src="/assets/imgs/plus.svg">
            </h1>
            <div class="border-left border-bottom border-right border-radius-7 padding-2 display-none"
                id="job-{{idVacancyAction}}">
                <input type="hidden" name="idVacancy" value="{{idVacancyAction}}">
                <label class="form-label">Nome</label>
                <input class="form-input" name="nameVacancy" value="{{nameVacancyAction}}" />
                <label class="form-label">Descrição</label>
                <textarea class="form-input form-textarea" name="descVacancy">{{descVacancyAction}}</textarea>
                <label class="form-label">Quantidade</label>
                <input type="number" class="form-input" name="qtdVacancy" value="{{qtdVacancyAction}}">
            </div>
            {{/each}}
            {{else}}
            <h1 class="medium-text gray margin-top4 margin-btm2">Houve um erro ao exibir as vagas desse evento...</h1>
            {{/if}}

            <button class="btn-primary display-block margin0 margin-top4">Salvar edições</button>

            <h1 class="medium-text red margin-top4 margin-btm2">Área de risco</h1>
        </form>
        <form action="/event/{{action.idAction}}/deactivate" id="deactivate-form" method="POST">
            <div onclick="$('.disable-account').slideDown('slow').css('display', 'flex')" class="btn-danger margin0">
                Encerrar evento</div>
        </form>
    </div>
</div>
</div>

<div class="overlay disable-account">
    <div class="modal">
        <h1 class="title text-left">Você tem certeza?</h1>
        <p class="text margin-top2">Esta é uma ação que não pode ser desfeita.</p>
        <div class="modal-options margin-top2">
            <div onclick="$('.disable-account').slideUp('fast')" class="btn-secondary">Cancelar
            </div>
            <div onclick="$('#deactivate-form').submit()" class="btn-primary">Prosseguir</div>
        </div>
    </div>
</div>

<script src="/scripts/eventManagement.js"></script>
<script>$( "#management-content" ).hide()</script>