<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA36tg5LqcFuIXDpeMtAlDeVGj87qqxrVk&callback=initMap"></script>
<link rel="stylesheet" href="/styles/css/event.css" />

<div class="centralize padding-top4">
    <div class="container">
        <a href="#"
            onclick="addClass('links', 'gray'); removeClass('links','gray', 0); $('#management-content').hide(); $('#request-content').show()"
            class="links medium-text blue transition-025 margin-right2">Solicitações</a>
        <a href="#"
            onclick="addClass('links', 'gray'); removeClass('links','gray', 1); $('#request-content').hide(); $('#management-content').show()"
            class="links medium-text blue gray transition-025 margin-right2">Gerenciamento</a>
    </div>
    <div id="request-content" class="container margin-top2 content">
        {{#if volunteersSubscribers}}
        <div class="table-container">
            <div class="table-header">
                <div class="row">
                    <div class="flex-row">Nome completo</div>
                    <div class="flex-row">Vaga</div>
                    <div class="flex-row">Avaliação</div>
                    <div class="flex-row"></div>
                </div>
            </div>
            <div class="table-body">
                {{#each volunteersSubscribers}}
                <script>
                    console.log(subscribers)
                </script>
                <div class="row">
                    <form class="full-width display-flex">
                        <div class="flex-row">
                            <figure class="table-pic">
                                <img src="/temp/uploads/profile/{{photoVolunteer}}" />
                            </figure>
                            <article class="margin-left1">
                                <h1 class="small-text medium-weight-text margin0 padding0">{{nameVolunteer}} {{lastNameVolunteer}}</h1>
                                <p class="gray smallest-text margin0 padding0">{{cityVolunteer}}</p>
                            </article>
                        </div>
                        <div class="flex-row">
                            <p class="text">{{nameVacancy}}</p>
                        </div>
                        <div class="flex-row">{{averageStarVolunteer}}</div>
                        <div class="flex-row justifyContent-end">
                            <button class="btn-danger-outlined margin-right2">Recusar</button>
                            <button class="btn-primary">Aceitar inscrição</button>
                        </div>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
    <div id="management-content" class="box container margin-top2 content display-none">
        <h1>"Hello"</h1>
    </div>
</div>