<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA36tg5LqcFuIXDpeMtAlDeVGj87qqxrVk&callback=initMap"></script>
<link rel="stylesheet" href="/styles/css/event.css"/>

<div class="centralize" data-idAction="{{action.idAction}}" data-cep="{{action.cepAction}}" data-address="{{action.addressAction}}" data-district="{{action.districtAction}}" data-number="{{action.numAddressAction}}">
    <div class="container display-flex">
        <article class="content">
            <figure class="action-bg">
                <img src="/temp/uploads/action/{{action.photoAction}}"/>
            </figure>
            <h1 class="title margin-top2">{{action.nameAction}}</h1>
            <p class="text margin-top1">{{action.descriptionAction}}</p>
            <div class="data-author">
                <figure class="author-pic margin-top2">
                    <a href="/{{ngo.userName}}">
                        <img src="/temp/uploads/profile/{{ngo.photoNgo}}">
                    </a>
                    <div class="author-description">
                        <a href="/{{ngo.userName}}" class="author-name">{{ngo.nameNgo}}</a>
                        <p class="author-by">Por <a href="../{{user.userName}}">{{user.nameVolunteer}}</a></p>
                    </div>
                </figure>
            </div>
            <div id="map" class="margin-top2"></div>
        </article>

        <div class="aside">
            <div class="box">
                <h1 class="medium-text bold margin0">Informações do evento</h1>
                <ul class="icons">
                    {{#if action.isPunctual}}
                        <li class="icon align-center"><img src="/assets/imgs/clock.svg"/> Pontual</li>
                    {{else}}
                        <li class="icon align-center"><img src="/assets/imgs/clock.svg"/> Recorrente</li>
                    {{/if}}
                    <li class="icon"><img src="/assets/imgs/fillPlaceholder.svg"/>{{action.addressAction}}, n° {{action.numAddressAction}}</li>
                    <li class="icon"><img src="/assets/imgs/fillUser.svg"/>Faltam 12 voluntários</li>
                </ul>
                <ul class="cases flex-wrap">
                    {{#each category}}
                        <li class="case">{{descCategory}}</li>
                    {{/each}}
                </ul>
                <h1 class="medium-text bold margin-top2 margin-btm2">Vagas</h1>
                {{#each vacancies}}
                    <button onclick="$('#{{idVacancyAction}}').slideDown('fast').css('display','flex')" class="btn-outlined">{{nameVacancyAction}} <p>{{qtdVacancyAction}}</p></button>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{#each vacancies}}
    <div class="overlay overlay-job" id="{{idVacancyAction}}">
        <div class="modal">
            <h1 class="title text-left">{{nameVacancyAction}}</h1>
            <p class="text medium-weight-text margin0">Vagas <span class="blue">{{qtdVacancyAction}}</span></p> 
            <p class="text margin-top2">{{descVacancyAction}}</p>
            <div class="modal-options margin-top2" id="{{idVacancyAction}}">
                {{#if isSubscribed}}
                    <input type="checkbox" class="subscribe-checkbox display-none" id="checkbox-subscribe-{{idVacancyAction}}" checked>
                {{else}}
                    <input type="checkbox" class="subscribe-checkbox display-none" id="checkbox-subscribe-{{idVacancyAction}}" >
                {{/if}}

                <div id="cancel-subcribe" onclick="$('.overlay-job').slideUp('fast')" class="btn-secondary">Cancelar
                </div>
                <label for="checkbox-subscribe-{{idVacancyAction}}" class="btn-primary subscribe" onclick="$('.overlay-job').slideUp('fast')"></label>
            </div>
        </div>
    </div>
{{/each}}

<script src="/scripts/eventScript.js"></script>