<link rel="stylesheet" href="/styles/css/homeUser.css" />
<div class="centralize padding-top4">
    <div class="container">
        <div class="feed-header">
            <ul class="group-categories">
                <a class="home-link medium-text margin-right1" onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 0); $('.group-nav').hide(); $('.feed-events').show()" href="#">Meus eventos</a>
                <a class="home-link medium-text gray margin-right1" onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 1); $('.group-nav').hide(); $('.feed-members').show()" href="#">Membros</a>
                <a class="home-link medium-text gray" onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 2); $('.group-nav').hide(); $('.feed-search').show()" href="#">Procurar voluntários</a>
            </ul>
            <a href="/event"><button class="btn-callaction">Criar um evento</button></a>
        </div>
        <div class="group-nav feed-events" id="ngo-events">
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Meus eventos ativos</h1>
                <div class="group-articles">
                    {{#each activeEvent}}
                            <article class="feed-article">
                                <figure class="article-image">
                                    <img src="/temp/uploads/action/{{photoAction}}" />
                                </figure>
                                <div class="article-content">
                                    <h1 class="article-title">{{nameAction}}</h1>
                                    <h3 class="article-subitle">{{descriptionAction}}
                                    </h3>
                                    <div class="article-ngo-details">
                                        {{!-- <p class="article-ngo-name">Por <a href="#">{{idNgo}}</a></p> --}}
                                        {{!-- <p class="article-ngo-date">{{createdAt}}</p> --}}
                                    </div>
                                </div>
                            </article>
                    {{/each}}
                </div>
            </nav>
        </div>
        <div class="group-nav feed-members" id="ngo-members">
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Membros da ONG</h1>
            </nav>
        </div>
        <div class="group-nav feed-search" id="search-volunteers">
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Procurar por voluntários</h1>
            </nav>
        </div>
    </div>
</div>