<link rel="stylesheet" href="/styles/css/homeUser.css" />
<script src="/scripts/homeNgoScript.js"></script>
<div class="centralize padding-top4">
    <div class="container">
        <div class="feed-header">
            <ul class="group-categories">
                <a class="home-link medium-text margin-right2"
                    onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 0); $('.group-nav').fadeOut('fast'); $('.feed-events').fadeIn('fast')"
                    href="#">Meus eventos</a>
                <a class="home-link medium-text gray margin-right2"
                    onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 1); $('.group-nav').fadeOut('fast'); $('.feed-members').fadeIn('fast')"
                    href="#">Membros</a>
                <a class="home-link medium-text gray"
                    onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 2); $('.group-nav').fadeOut('fast'); $('.feed-search').fadeIn('fast')"
                    href="#">Procurar voluntários</a>
            </ul>
            <a href="/event"><button class="btn-callaction">Criar um evento</button></a>
        </div>
        <div class="group-nav feed-events" id="ngo-events">
            {{#if actions}}
            {{#if actions.activeActions}}
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Meus eventos ativos</h1>
                <div class="group-articles">
                    {{#each actions.activeActions}}
                    <article class="feed-article">
                        <a href="event/{{idAction}}">
                            <figure class="article-image">
                                <img src="/temp/uploads/action/{{photoAction}}" />
                            </figure>
                            <div class="article-content">
                                <h1 class="article-title">{{nameAction}}</h1>
                                <h3 class="article-subitle">{{descriptionAction}}
                                </h3>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="#">{{nameNgo}}</a></p>
                                    <p class="article-ngo-date">{{createdAt.day}} de {{createdAt.month}} de
                                        {{createdAt.year}}</p>
                                </div>
                            </div>
                        </a>
                    </article>
                    {{/each}}
                </div>
            </nav>
            {{/if}}
            {{else}}
            {{!-- ERR Msg --}}
            <div class="container flex-column align-center margin-top4">
                <img style="height: 35vh;" src="/assets/imgs/empty2.svg" />
                <h1 class="big-text text-center margin0 margin-top4">Nada encontrado!</h1>
                <p class="text text-center margin0 margin-top1">Parece que sua ONG ainda não tem nenhum evento.</p>
            </div>

            {{/if}}
        </div>

        <div class="group-nav feed-members" id="ngo-members">
            <h1 class="title padding-top2 margin-btm1">Membros da ONG (2)</h1>
            <div class="table-container">
                <div class="table-header">
                    <div class="row">
                        <div class="flex-row">Nome completo</div>
                        <div class="flex-row">Tipo de membro</div>
                        <div class="flex-row">Avaliação</div>
                        <div class="flex-row">N° de eventos participados</div>
                        <figure class="member-options-icon visibility-hidden">
                            <img src="/assets/imgs/threedots.svg">
                        </figure>
                    </div>
                </div>
                <div class="table-body">
                    <div class="row">
                        <div class="flex-row">
                            <figure class="table-pic">
                                <img src="/temp/uploads/profile/user.svg" />
                            </figure>
                            <article class="margin-left1">
                                <h1 class="small-text medium-weight-text margin0 padding0">João Victor da Silva Pereira
                                </h1>
                                <p class="gray smallest-text margin0 padding0">São Paulo, SP.</p>
                            </article>
                        </div>
                        <div class="flex-row">
                            <p><span class="blue-rounded">Administrador</span></p>
                        </div>
                        <div class="flex-row">4,6/5</div>
                        <div class="flex-row">12</div>
                        <figure onclick="hideOptions('.member-options-1')" class="member-options-icon">
                            <img src="/assets/imgs/threedots.svg">
                        </figure>
                    </div>
                    <div class="member-options member-options-1 mouseUpSlideUp">
                        <ul class="items">
                            <li class="item">Tornar administrador</li>
                            <li class="item red">Cancelar inscrição</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="flex-row">
                            <figure class="table-pic">
                                <img src="/temp/uploads/profile/felipe.jpg" />
                            </figure>
                            <article class="margin-left1">
                                <h1 class="small-text medium-weight-text margin0 padding0">Felipe Gringonelli</h1>
                                <p class="gray smallest-text margin0 padding0">São Paulo, SP.</p>
                            </article>
                        </div>
                        <div class="flex-row">Voluntário</div>
                        <div class="flex-row">3.7/5</div>
                        <div class="flex-row">26</div>
                        <figure onclick="hideOptions('.member-options-2');" class="member-options-icon">
                            <img src="/assets/imgs/threedots.svg">
                        </figure>
                    </div>
                    <div class="member-options member-options-2 mouseUpSlideUp">
                        <ul class="items">
                            <li class="item">Tornar administrador</li>
                            <li class="item red">Cancelar inscrição</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="group-nav feed-search" id="search-volunteers">
            <h1 class="title padding-top2 margin-btm1">Procurar por novos voluntários</h1>
            <form class="form full-width">
                <div class="wrapper-options">
                    <div onclick="$('.cause-options').toggle('fast')" class="open-options callShow margin-right1">
                        <span>Causas <img src="/assets/imgs/arrow-down.svg" /></span>
                    </div>
                    <div class="options cause-options ">
                        {{#each ngoCauses}}
                        <input type="checkbox" class="option-checkbox" value="{{descCategory}}" id="{{descCategory}}"
                            name="categories" class="form-checkbox" checked>
                        <label for="{{descCategory}}" class="label-option">
                            <div class="option-marker"></div>{{descCategory}}
                        </label>
                        {{/each}}
                        {{#each causesNotParticipe}}
                        <input type="checkbox" class="option-checkbox" value="{{descCategory}}" id="{{descCategory}}"
                            name="categories" class="form-checkbox">
                        <label for="{{descCategory}}" class="label-option">
                            <div class="option-marker"></div>{{descCategory}}
                        </label>
                        {{/each}}
                    </div>
                </div>

                <div class="wrapper-options">
                    <div onclick="$('.skills-options').toggle('fast')" class="open-options callShow margin-right1">
                        <span>Habilidades <img src="/assets/imgs/arrow-down.svg" /></span>
                    </div>
                    <div class="options skills-options ">
                        <input type="checkbox" class="option-checkbox" value="habilidade" id="habilidade"
                            name="categories" class="form-checkbox" checked>
                        <label for="habilidade" class="label-option">
                            <div class="option-marker"></div>Habilidade
                        </label>
                    </div>
                </div>

                <input onclick="" type="checkbox" id="filter-proximity" value="proximity" class="form-checkbox">
                <label for="filter-proximity" class="form-btnCheckbox open-options">Proximidade</label>

                <div class="search-bar margin-top2">
                    <input class="form-input display-inline" type="text" placeholder="Pesquise por voluntários"/>
                    <img src="/assets/imgs/search.svg"/>
                </div>
            </form>
            <div class="container flex-column align-center margin-top4">
                <img style="height: 35vh;" src="/assets/imgs/empty2.svg" />
                <h1 class="big-text text-center margin0 margin-top4">Nada encontrado!</h1>
                <p class="text text-center margin0 margin-top1">Não conseguimos encontrar nenhum voluntário por meio desses filtros.</p>
            </div>
        </div>
    </div>
</div>

<script>
    $( '.feed-members' ).hide();
    //$( '.feed-search' ).hide()
    $('.feed-events').hide()
</script>