<link rel="stylesheet" href="/styles/css/home.css" />

<script src="/scripts/homeNgoScript.js"></script>
<div class="centralize padding-top4">
    <div class="container">
        <div class="feed-header">
            <ul class="group-categories">
                <a class="home-link medium-text margin-right2"
                    onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 0); $('.group-nav').fadeOut('fast'); $('.feed-events').fadeIn('fast')"
                    href="#">Meus eventos</a>
                <a class="home-link medium-text gray margin-right2"
                    onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 1); $('.group-nav').fadeOut('fast'); $('.feed-members').fadeIn('fast')"
                    href="#">Membros</a>
                {{!-- <a class="home-link medium-text gray"
                    onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 2); $('.group-nav').fadeOut('fast'); $('.feed-search').fadeIn('fast')"
                    href="#">Procurar voluntários</a> --}}
            </ul>
            <a href="/event"><button class="btn-callaction">Criar um evento</button></a>
        </div>
        <div class="group-nav feed-events" id="ngo-events">
            {{#if actions}}
            {{#if actions.activeActions}}
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Meus eventos ativos</h1>
                <div class="group-articles">
                    {{#each actions.activeActions}}
                    <article class="feed-article">
                        <a href="event/{{idAction}}/management">
                            <figure class="article-image">
                                <img src="/temp/uploads/action/{{photoAction}}" />
                            </figure>
                            <div class="article-content">
                                <h1 class="article-title">{{nameAction}}</h1>
                                <h3 class="article-subitle">{{descriptionAction}}
                                </h3>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="#">{{nameNgo}}</a></p>
                                    <p class="article-ngo-date">{{createdAt.day}} de {{createdAt.month}} de
                                        {{createdAt.year}}</p>
                                </div>
                            </div>
                        </a>
                    </article>
                    {{/each}}
                </div>
            </nav>
            {{/if}}
            {{else}}
            {{!-- ERR Msg --}}
            <div class="container flex-column align-center margin-top4">
                <img style="height: 35vh;" src="/assets/imgs/empty2.svg" />
                <h1 class="big-text text-center margin0 margin-top4">Nada encontrado!</h1>
                <p class="text text-center margin0 margin-top1">Parece que sua ONG ainda não tem nenhum evento.</p>
            </div>

            {{/if}}
        </div>

        <div class="group-nav feed-members" id="ngo-members">
            <h1 class="title padding-top2 margin-btm1">Membros da ONG ({{membersNgo.qtdMembers}})</h1>
            <div class="table-container">
                <div class="table-header">
                    <div class="row">
                        <div class="flex-row">Nome completo</div>
                        <div class="flex-row">Tipo de membro</div>
                        <div class="flex-row">Avaliação</div>
                        <div class="flex-row">N° de eventos participados</div>
                        <figure class="member-options-icon visibility-hidden">
                            <img src="/assets/imgs/threedots.svg">
                        </figure>
                    </div>
                </div>
                <div class="table-body-options">
                    {{#each membersNgo.volunteers}}
                    <div class="row">
                        <div class="flex-row">
                            <figure class="table-pic">
                                <img src="/temp/uploads/profile/{{photoVolunteer}}" />
                            </figure>
                            <article class="margin-left1">
                                <h1 class="small-text medium-weight-text margin0 padding0">{{nameVolunteer}} {{lastNameVolunteer}}
                                </h1>
                                <p class="gray smallest-text margin0 padding0">{{districtVolunteer}}</p>
                            </article>
                        </div>
                        <div class="flex-row">
                            {{#if isCreator}}
                            <p><span class="blue-rounded">Administrador</span></p>
                            {{/if}}
                        </div>
                        <div class="flex-row">{{averageStarVolunteer}}</div>
                        <div class="flex-row">{{qtdActions}}</div>
                        <figure onclick="hideOptions('.member-options-{{idVolunteer}}')" class="member-options-icon">
                            <img src="/assets/imgs/threedots.svg">
                        </figure>
                    </div>
                    <div class="member-options member-options-{{idVolunteer}} mouseUpSlideUp">
                        <ul class="items">
                            {{#if isCreator}}
                            {{else}}
                                <li class="item">Tornar administrador</li>
                            {{/if}}
                            <li class="item red">Cancelar inscrição</li>
                        </ul>
                    </div>
                    {{/each}}
                    
                </div>
            </div>
        </div>

        {{!-- <div class="group-nav feed-search" id="search-volunteers">
            <h1 class="title padding-top2 margin-btm1">Procurar voluntários</h1>
            <form class="form header-search-volunteers">
                <div class="wrapper-options">
                    <div onclick="$('.cause-options').toggle('fast')" class="open-options">
                        <span>Causas <img src="/assets/imgs/arrow-down.svg" /></span>
                    </div>
                    <div class="options cause-options ">
                        {{#each ngoCauses}}
                        <input type="checkbox" class="option-checkbox" value="{{descCategory}}" id="{{descCategory}}"
                            name="categories" class="form-checkbox" checked>
                        <label for="{{descCategory}}" class="label-option">
                            <div class="option-marker"></div>{{descCategory}}
                        </label>
                        {{/each}}
                        {{#each causesNotParticipe}}
                        <input type="checkbox" class="option-checkbox" value="{{descCategory}}" id="{{descCategory}}"
                            name="categories" class="form-checkbox">
                        <label for="{{descCategory}}" class="label-option">
                            <div class="option-marker"></div>{{descCategory}}
                        </label>
                        {{/each}}
                    </div>
                </div>

                <div class="wrapper-options">
                    <div onclick="$('.skills-options').toggle('fast')" class="open-options">
                        <span>Habilidades <img src="/assets/imgs/arrow-down.svg" /></span>
                    </div>
                    <div class="options skills-options ">
                        <input type="checkbox" class="option-checkbox" value="habilidade" id="habilidade"
                            name="categories" class="form-checkbox" checked>
                        <label for="habilidade" class="label-option">
                            <div class="option-marker"></div>Habilidade
                        </label>
                    </div>
                </div>

                <input onclick="" type="checkbox" id="filter-proximity" value="proximity" class="form-checkbox">
                <label for="filter-proximity" class="form-btnCheckbox open-options">Proximidade</label>

                <div class="search-bar width-auto">
                    <input class="form-input display-inline" type="text" oninput="doSearchVolunteer(this.value)" placeholder="Pesquise por voluntários" />
                    <img src="/assets/imgs/search.svg" />
                </div>
            </form>
            <nav class="nav-articles">

                <div class="wrapper-articles">
                    <h1 class="medium-text light-weight-text margin0 margin-top2 padding0">3 voluntários encontrados</h1>
                    <div class="group-volunteers margin-top2">
                        <article class="feed-volunteer">
                            <figure class="volunteer-pic">
                                <img src="/assets/imgs/man2.jpg" />
                            </figure>
                            <div class="volunteer-content">
                                <div class="justifyContent-between">
                                    <h1 class="medium-text margin0">João Victor</h1>
                                    <h1 class="medium-text light-weight-text margin0">
                                        <img src="/assets/imgs/star.svg" class="inline-icon" /> 4.5/5
                                    </h1>
                                </div>
                                <h1 class="text gray margin0">São Paulo, SP.</h1>
                                <p class="margin0 margin-top2 small-text medium-weight-text">Causas</p>
                                <ul class="causes">
                                    <li class="cause">Direitos humanos</li>
                                    <li class="cause">Animal</li>
                                </ul>
                                <p class="margin0 margin-top1 small-text medium-weight-text">Habilidades</p>
                                <ul class="causes">
                                    <li class="cause">Habilidade 1</li>
                                    <li class="cause">Habilidade 2</li>
                                </ul>
                                <div class="justifyContent-center">
                                    <button class="btn-primary small-text grow-1">Convidar para ONG</button>
                                    <button class="btn-secondary grow-1 margin-left2">Mais...</button>
                                </div>
                            </div>
                        </article>
                        <article class="feed-volunteer">
                            <figure class="volunteer-pic">
                                <img src="/assets/imgs/man2.jpg" />
                            </figure>
                            <div class="volunteer-content">
                                <div class="justifyContent-between">
                                    <h1 class="medium-text margin0">João Victor</h1>
                                    <h1 class="medium-text light-weight-text margin0">
                                        <img src="/assets/imgs/star.svg" class="inline-icon" /> 4.5/5
                                    </h1>
                                </div>
                                <h1 class="text gray margin0">São Paulo, SP.</h1>
                                <p class="margin0 margin-top2 small-text medium-weight-text">Causas</p>
                                <ul class="causes">
                                    <li class="cause">Direitos humanos</li>
                                    <li class="cause">Animal</li>
                                </ul>
                                <p class="margin0 margin-top1 small-text medium-weight-text">Habilidades</p>
                                <ul class="causes">
                                    <li class="cause">Habilidade 1</li>
                                    <li class="cause">Habilidade 2</li>
                                </ul>
                                <div class="justifyContent-center">
                                    <button class="btn-primary small-text grow-1">Convidar para ONG</button>
                                    <button class="btn-secondary grow-1 margin-left2">Mais...</button>
                                </div>
                            </div>
                        </article>
                        <article class="feed-volunteer">
                            <figure class="volunteer-pic">
                                <img src="/assets/imgs/man2.jpg" />
                            </figure>
                            <div class="volunteer-content">
                                <div class="justifyContent-between">
                                    <h1 class="medium-text margin0">João Victor</h1>
                                    <h1 class="medium-text light-weight-text margin0">
                                        <img src="/assets/imgs/star.svg" class="inline-icon" /> 4.5/5
                                    </h1>
                                </div>
                                <h1 class="text gray margin0">São Paulo, SP.</h1>
                                <p class="margin0 margin-top2 small-text medium-weight-text">Causas</p>
                                <ul class="causes">
                                    <li class="cause">Direitos humanos</li>
                                    <li class="cause">Animal</li>
                                </ul>
                                <p class="margin0 margin-top1 small-text medium-weight-text">Habilidades</p>
                                <ul class="causes">
                                    <li class="cause">Habilidade 1</li>
                                    <li class="cause">Habilidade 2</li>
                                </ul>
                                <div class="justifyContent-center">
                                    <button class="btn-primary small-text grow-1">Convidar para ONG</button>
                                    <button class="btn-secondary grow-1 margin-left2">Mais...</button>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </nav> --}}
            {{!-- ERR MSG --}}
            {{!-- <div class="container flex-column align-center margin-top4">
                <img style="height: 35vh;" src="/assets/imgs/empty2.svg" />
                <h1 class="big-text text-center margin0 margin-top4">Nada encontrado!</h1>
                <p class="text text-center margin0 margin-top1">Não conseguimos encontrar nenhum voluntário por meio desses filtros.</p>
            </div> --}}
        </div>
    </div>
</div>

<script>
    //$( '.feed-events' ).hide()
    $( '.feed-members' ).hide();
    $( '.feed-search' ).hide()
</script>