<link rel="stylesheet" href="/styles/css/homeUser.css" />
<div class="centralize padding-top4">
    <div class="container">
        <div class="feed-header">
            <ul class="group-categories">
                <a class="home-link medium-text margin-right1"
                    onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 0); $('.group-nav').hide(); $('.feed-events').show()"
                    href="#">Meus eventos</a>
                <a class="home-link medium-text gray margin-right1"
                    onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 1); $('.group-nav').hide(); $('.feed-members').show()"
                    href="#">Membros</a>
                <a class="home-link medium-text gray"
                    onclick="addClass('home-link', 'gray'); removeClass('home-link','gray', 2); $('.group-nav').hide(); $('.feed-search').show()"
                    href="#">Procurar voluntários</a>
            </ul>
            <a href="/event"><button class="btn-callaction">Criar um evento</button></a>
        </div>

        <div class="group-nav feed-events" id="ngo-events">
            {{#if actions}}
            {{#if actions.activeActions}}
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Meus eventos ativos</h1>
                <div class="group-articles">
                    {{#each actions.activeActions}}
                    <article class="feed-article">
                        <a href="event/{{idAction}}">
                        <figure class="article-image">
                            <img src="/temp/uploads/action/{{photoAction}}" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">{{nameAction}}</h1>
                            <h3 class="article-subitle">{{descriptionAction}}
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">{{nameNgo}}</a></p>
                                <p class="article-ngo-date">{{createdAt.day}} de {{createdAt.month}} de
                                    {{createdAt.year}}</p>
                            </div>
                        </div>
                        </a>
                    </article>
                    {{/each}}
                </div>
            </nav>
            {{/if}}
            {{else}}
            {{!-- ERR Msg --}}
            <div class="container flex-column align-center margin-top4">
                <img style="height: 40vh;" src="/assets/imgs/empty2.svg" />
                <h1 class="big-text text-center margin0 margin-top4">Nada encontrado!</h1>
                <p class="text text-center margin0 margin-top1">Parece que sua ONG não tem nenhum evento de acordo com
                    esses filtros.</p>
            </div>

            {{/if}}
        </div>

        <div class="group-nav feed-members" id="ngo-members">
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Membros da ONG</h1>
            </nav>
        </div>

        <div class="group-nav feed-search" id="search-volunteers">
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Procurar por voluntários</h1>
            </nav>
        </div>
    </div>
</div>

<script>
    $( '#ngo-members' ).hide();
    $( '#search-volunteers' ).hide()
</script>