<link rel="stylesheet" href="/styles/css/homeUser.css" />
<div class="centralize padding-top4">
    <div class="container">
        {{!-- <h1 class="title margin-btm2">Bem-vindo de volta <span class="blue">João</span></h1> --}}
        <div class="feed-header margin-top2">
            <div class="filters">
                <ul class="group-categories">
                    <a onclick="hide('group-nav'); show('group-nav',0); removeClass('category-link','active-link'); addClass('category-link', 'active-link', 0)"
                        title="ngo-events" href="#" class="category-link active-link">
                        <li title="ngo-events" target="my-events">Meus eventos</li>
                    </a>
                    <a onclick="hide('group-nav'); show('group-nav',1); removeClass('category-link','active-link'); addClass('category-link', 'active-link', 1)"
                        title="ngo-members" href="#" class="category-link">
                        <li title="ngo-members">Membros</li>
                    </a>
                    <a onclick="hide('group-nav'); show('group-nav',2); removeClass('category-link','active-link'); addClass('category-link', 'active-link', 2)"
                        title="search-volunteers" href="#" class="category-link">
                        <li title="search-volunteers">Procurar voluntários</li>
                    </a>
                </ul>
            </div>
            <a href="/event"><button class="btn-callaction">Criar um evento</button></a>
        </div>
        <div class="group-nav" id="ngo-events">
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Meus eventos ativos</h1>
                <div class="group-articles">
                    {{#each activeEvent}}
                            <article class="feed-article">
                                <figure class="article-image">
                                    <img src="/temp/uploads/action/{{photoAction}}" />
                                </figure>
                                <div class="article-content">
                                    <h1 class="article-title">{{nameAction}}</h1>
                                    <h3 class="article-subitle">{{descriptionAction}}
                                    </h3>
                                    <div class="article-ngo-details">
                                        {{!-- <p class="article-ngo-name">Por <a href="#">{{idNgo}}</a></p> --}}
                                        {{!-- <p class="article-ngo-date">{{createdAt}}</p> --}}
                                    </div>
                                </div>
                            </article>
                    {{/each}}
                </div>
            </nav>
        </div>
        <div class="group-nav" id="ngo-members">
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Membros da ONG</h1>
            </nav>
        </div>
        <div class="group-nav" id="search-volunteers">
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Procurar por voluntários</h1>
            </nav>
        </div>
    </div>
</div>