<link rel="stylesheet" href="/styles/css/home.css" />
<link rel="stylesheet" href="/styles/css/profile.css" />

{{!-- <div class="centralize">
    <div class="container">

        <div class="profile-data">
            <figure class="profile-pic">
                <img src="/temp/uploads/profile/{{data.photoVolunteer}}" />
            </figure>
            <div class="profile-informations">
                    <h1 class="username">{{data.nameVolunteer}} {{data.lastNameVolunteer}}
                        {{#if isVisit}}
                        {{else}}
                        <a href="/settings">
                            <img src="/assets/imgs/settings.svg" class="inline-icon"/>
                        </a>
                        {{/if}}
                    </h1>
                    <ul class="cases">
                        {{#each causes}}
                        <li class="case"><a href="#">{{descCategory}}</a></li>
                        {{/each}}
                    </ul>
                    <p class="text gray margin-top1"><img src="/assets/imgs/placeholder.svg" class="inline-icon" />
                        {{data.districtVolunteer}}, {{data.cityVolunteer}}.</p>

                    <p class="text margin-top1">{{data.biographyVolunteer}}</p>
            </div>
        </div>
        <ul class="profile-stats margin-top2 margin-btm2">
            <li><span class="number">{{data.averageStarsVolunteer}}/5 <img src="/assets/imgs/star.svg"
                        class="inline-icon" /></span>média de estrelas</li>
            <li><span class="number">{{amtActions}}</span> ações em eventos</li>
            <li><span class="number">{{amtSubscribedNgos}}</span> ONGs é inscrito</li>
        </ul>

        <nav class="nav-articles">
            <h1 class="title padding-top2 margin-btm1">Eventos da ONG</h1>
            <div class="group-articles">
                {{#if actions}}
                {{#each actions}}
                <article class="feed-article">
                    <a href="event/{{idAction}}">
                        <figure class="article-image">
                            <img src="/temp/uploads/action/{{photoAction}}" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">{{nameAction}}</h1>
                            <h3 class="article-subitle">{{descriptionAction}}
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="/{{username}}">{{nameNgo}}</a></p>
                                <p class="article-ngo-date"><a href="event/{{idAction}}">{{createdAt.day}} de
                                        {{createdAt.month}} de
                                        {{createdAt.year}}</a></p>
                            </div>
                        </div>
                    </a>
                </article>
                {{/each}}
                {{else}}
                <h1>Esta ONG não tem eventos ativos</h1>
                {{/if}}
            </div>
        </nav>
    </div>
</div> --}}

<div class=" centralize padding-top4">
    <div class="container">

        <div class="profile-data">
            <figure class="profile-pic">
                <img src="/temp/uploads/profile/{{data.photoNgo}}" />
                {{#if isVisit}}
                {{#if isVolunteer}}
                <form>
                    <input type="hidden" name="id-ngo" id="id-ngo" value="{{data.idNgo}}">
                    {{#if isSubscribed}}
                    <input type="checkbox" id="checkbox-subscribe" value="on" checked>
                    {{else}}
                    <input type="checkbox" id="checkbox-subscribe" value="off">
                    {{/if}}
                    <label for="checkbox-subscribe" class="btn-primary" id="btn-subscribe"></label>
                </form>
                {{/if}}
                {{/if}}
            </figure>
            <div class="profile-informations">
                <h1 class="username">{{data.nameNgo}}
                    {{#if isVisit}}
                    {{else}}
                    <a href="/settings">
                        <img src="/assets/imgs/settings.svg" class="inline-icon" />
                    </a>
                    {{/if}}
                </h1>
                <ul class="cases">
                    {{#each causes}}
                    <li class="case"><a href="#">{{descCategory}}</a></li>
                    {{/each}}
                </ul>
                <p class="text margin-top1"><a
                        href="https:/google.com.br/maps/place/{{data.addressNgo}} {{data.numAddressNgo}} {{data.districtNgo}} {{data.cityNgo}}"
                        target="_blank"><img src="/assets/imgs/placeholder.svg" class="inline-icon" />
                        {{data.addressNgo}}, {{data.numAddressNgo}} - {{data.districtNgo}}, {{data.cityNgo}}</a></p>
                {{#if data.siteNgo}}
                <p class="text margin-top1"><a href="http://{{data.siteNgo}}" target="_blank">{{data.siteNgo}}</a></p>
                {{/if}}
                <p class="text margin-top1">Telefone(s)
                    {{#each telephonesNgo}}
                    - {{TelephoneNgo}}
                    {{/each}}
                </p>
                <p class="text margin-top1">{{data.descriptionNgo}}</p>
            </div>
        </div>
        <ul class="profile-stats margin-top2 margin-btm2">
            <li><span class="number">{{data.averageStarsVolunteer}}/5 <img src="/assets/imgs/star.svg"
                        class="inline-icon" /></span>média de estrelas</li>
            <li><span class="number">{{amtActions}}</span>Eventos</li>
            <li><span class="number">{{amtMembers}}</span>Membros</li>
        </ul>

        <nav class="nav-articles">
            {{#if actions}}
            <div class="wrapper-articles">
                <h1 class="title margin0 margin-btm1">Eventos</h1>
                <div class="group-articles">
                    {{#each actions}}
                    {{#if isActive}}
                    <article class="feed-article">
                        <a href="event/{{idAction}}">
                            <figure class="article-image">
                                <img src="/temp/uploads/action/{{photoAction}}" />
                            </figure>
                            <div class="article-content">
                                <h1 class="article-title">{{nameAction}}</h1>
                                <h3 class="article-subitle">{{descriptionAction}}
                                </h3>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="/{{username}}">{{nameNgo}}</a></p>
                                    <p class="article-ngo-date"><a href="event/{{idAction}}">{{createdAt.day}} de
                                            {{createdAt.month}} de
                                            {{createdAt.year}}</a></p>
                                </div>
                            </div>
                        </a>
                    </article>
                    {{else}}
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/temp/uploads/action/{{photoAction}}" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">{{nameAction}}</h1>
                            <h3 class="article-subitle">{{descriptionAction}}
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="/{{username}}">{{nameNgo}}</a></p>
                                <p class="article-ngo-date"><a href="event/{{idAction}}">{{createdAt.day}} de
                                        {{createdAt.month}} de
                                        {{createdAt.year}}</a></p>
                            </div>
                        </div>
                    </article>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            {{else}}
            <div class="container flex-column align-center margin-top4">
                <img style="height: 300px;" src="/assets/imgs/empty4.svg" />
                <h1 class="big-text text-center margin0 margin-top4">Nada por aqui...</h1>
                <p class="text text-center margin0 margin-top1">Este usuário ainda não participou de nenhum evento.</p>
            </div>
            {{/if}}
        </nav>
    </div>
</div>

<script src="/scripts/profileNgoScript.js"></script>