<link rel="stylesheet" href="/styles/css/homeUser.css" />
<link rel="stylesheet" href="/styles/css/profile.css" />

<link rel="stylesheet" href="/styles/css/homeUser.css" />
<link rel="stylesheet" href="/styles/css/profile.css" />

<div class="centralize">
    <div class="container">

        <div class="profile-data">
            <figure class="profile-pic availableVolunteer">
                <img src="/temp/uploads/profile/{{data.photoNgo}}" />
                {{#if isVisit}}
                    {{#if isVolunteer}}
                    <form>
                        <input type="hidden" name="id-ngo" id="id-ngo" value="{{data.idNgo}}">
                        {{#if isSubscribed}}
                            <input type="checkbox" id="checkbox-subscribe" value="on" checked>
                        {{else}}
                            <input type="checkbox" id="checkbox-subscribe" value="off">
                        {{/if}}
                        <label for="checkbox-subscribe" id="btn-subscribe"></label>
                    </form>
                    {{/if}}
                {{/if}}
            </figure>

            <div class="profile-name">
                <h1 class="username">{{data.nameNgo}}</h1>
                <ul class="cases margin0">
                    {{#each causes}}
                    <li class="case"><a href="#">{{descCategory}}</a></li>
                    {{/each}}
                </ul>
            </div>
            {{#if isVisit}}
            {{else}}
            <a href="/settings">
                <figure class="linkSettings">
                    <img src="/assets/imgs/settings.svg" />
                </figure>
            </a>
            {{/if}}
            <div class="profile-location-since">
                <h3 class="content">{{data.cityNgo}}. Desde {{data.createdAt.month}} de {{data.createdAt.year}}.</h3>
                <h3 class="content">Tel 
                {{#each telephonesNgo}}
                     - {{TelephoneNgo}}
                {{/each}}
                </h3>
                {{#if data.siteNgo}}
                    <a href="http://{{data.siteNgo}}" target="_blank">{{data.siteNgo}}</a>
                {{/if}}
            </div>
            <div class="profile-about">
                <p class="content">{{data.descriptionNgo}}</p>
            </div>
        </div>

        <div class="profile-stats">
            <ul>
                <li><span class="number">{{amtActions}}</span>Eventos realizados</li>
                <li><span class="number">{{amtUserSubscribed}}</span>Membros</li>
            </ul>
        </div>
        <div class="group-nav">
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Eventos da ONG</h1>
                <div class="group-articles">
                    {{#if actions}}
                        {{#each actions}}
                            <article class="feed-article">
                                <figure class="article-image">
                                    <img src="/temp/uploads/action/{{photoAction}}" />
                                </figure>
                                <div class="article-content">
                                    <h1 class="article-title">{{nameAction}}</h1>
                                    <h3 class="article-subitle">{{descriptionAction}}
                                    </h3>
                                    <div class="article-ngo-details">
                                        <p class="article-ngo-date">{{createdAt.day}}/{{createdAt.month}}/{{createdAt.year}}</p>
                                    </div>
                                </div>
                            </article>
                        {{/each}}
                    {{else}}
                        <h1>Esta ONG não tem eventos ativos</h1>
                    {{/if}}
                </div>
            </nav>
        </div>
    </div>
</div>

<script src="/scripts/profileNgoScript.js"></script>